body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #98dccd;
  font-family: San -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

